workflows/ia-agentes/14-multiagent-post-blog-corpo/workflow.json
[
  {
    "createdAt": "2025-05-09T14:16:24.896Z",
    "updatedAt": "2025-05-27T11:34:14.000Z",
    "id": "OtudrNK03MU0mzti",
    "name": "[FA] Multiagent para post de Blog - Corpo do Post",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "topic"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "8eaef661-d553-4a2f-813f-061bfff07223",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Tópico do Post:  {{ $json.topic }}",
          "options": {
            "systemMessage": "Baseado no Tópico do Post você cria o texto da postagem de blog."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          220,
          0
        ],
        "id": "f6be35e6-eaff-459c-9c42-de4db57a12c2",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          180,
          260
        ],
        "id": "f5a374ae-8fcc-4c31-b4a2-fa6d6828e68a",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "H79y1c1UARm5hINL",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "a9973ec4-ea2c-486f-923f-f4b585d54f1f",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-05-26T19:48:27.869Z",
        "updatedAt": "2025-05-26T19:48:27.869Z",
        "id": "hbBJw9VpX8CbCKpn",
        "name": "FA"
      }
    ]
  }
]