workflows/ia-agentes/49-processamento-emails-busca-vetorial-chat/workflow.json
{
    "name": "Presente de Natal 10 -",
    "nodes": [
      {
        "parameters": {},
        "id": "0e51a9d2-9f5f-442a-a971-0f403a103551",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          460,
          680
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "output": "raw",
          "filtersUI": {
            "values": {
              "filters": {
                "receivedAfter": "=2024-10-29T01:00:00Z"
              }
            }
          },
          "options": {}
        },
        "id": "eaa040f7-0918-47c1-b736-36bc31d84b40",
        "name": "Microsoft Outlook",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          780,
          680
        ]
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "3fd71c5d-ff4f-490d-8f31-53261a81de24",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          1380,
          920
        ]
      },
      {
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "Received Date",
                  "value": "={{ $json['Received Date '] }}"
                },
                {
                  "name": "Subject",
                  "value": "={{ $json.Subject }}"
                },
                {
                  "name": "From",
                  "value": "={{ $json['From: '] }}"
                },
                {
                  "name": "Message ID",
                  "value": "={{ $json['Message Payload'] }}"
                }
              ]
            }
          }
        },
        "id": "1ec09045-5a08-4f7a-8a03-fe5a909728a6",
        "name": "Default Data Loader",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          1620,
          920
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "bf58a135-da2b-47c1-80ea-c96eb4d9fe7d",
        "name": "Recursive Character Text Splitter",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          1620,
          1060
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a7478b42-a565-4d36-ad5f-dc7d81ae0526",
                "name": "=Message Payload",
                "value": "=Message ID: {{ $json.id }}",
                "type": "string"
              },
              {
                "id": "aa3b966f-3587-4e10-b91e-fd2d0579397d",
                "name": "Received Date ",
                "value": "=Received Date: {{ $json.receivedDateTime }}",
                "type": "string"
              },
              {
                "id": "cabf4058-e0a7-406d-8881-6861dd52f418",
                "name": "Subject",
                "value": "=Subject: {{ $json.subject }}",
                "type": "string"
              },
              {
                "id": "0c46c90b-9076-48eb-b26a-9d1ad3333e96",
                "name": "From: ",
                "value": "=From: {{ $json.from.emailAddress.values() }}",
                "type": "string"
              },
              {
                "id": "bb8d7ada-7b33-4cd5-9878-5b8b40ee4297",
                "name": "To: ",
                "value": "=To: {{ $json.toRecipients }}",
                "type": "string"
              },
              {
                "id": "e4e28ca7-21eb-4b0f-b282-6068362d0c97",
                "name": "Body",
                "value": "=Body: {{ $json.body.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "cf852a82-1eba-4146-9cc8-72341128f672",
        "name": "Set Payload",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1060,
          680
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": "n8n_vectors_no_code",
          "options": {
            "collection": {
              "values": {
                "useCollection": true,
                "collectionName": "email_documents",
                "collectionTableName": "n8n_vector_collections_no_code"
              }
            }
          }
        },
        "id": "e786491b-e023-4032-89bb-1da77b1eb20f",
        "name": "Postgres PGVector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1,
        "position": [
          1480,
          680
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "options": {}
        },
        "id": "5569e159-a624-4b7e-9eb1-753d4e74d468",
        "name": "Pinecone Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          80,
          940
        ]
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "3e793365-7d6e-499d-845d-0299cdd9f5cd",
        "name": "Embeddings OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          40,
          1200
        ]
      },
      {
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "Received Date",
                  "value": "={{ $json['Received Date '] }}"
                },
                {
                  "name": "Subject",
                  "value": "={{ $json.Subject }}"
                },
                {
                  "name": "From",
                  "value": "={{ $json['From: '] }}"
                },
                {
                  "name": "Message ID",
                  "value": "={{ $json['Message Payload'] }}"
                }
              ]
            }
          }
        },
        "id": "fc685f1e-1dd8-43da-9c4a-99cca780774e",
        "name": "Default Data Loader1",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          180,
          1200
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "ab5fb849-74bc-42eb-a357-8d46a94de1aa",
        "name": "Recursive Character Text Splitter1",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          180,
          1380
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "815080f1-8a07-47d9-b92c-f6eeb913fc82",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1260,
          1700
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "d9449385-918d-4473-8754-093d5d67f10d",
        "name": "OpenAI Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          740,
          1500
        ]
      },
      {
        "parameters": {
          "name": "n8n_vectors_no_code",
          "description": "Storage of my email account (hunter@workflowsy.io)"
        },
        "id": "ba431c36-8f62-4466-aff7-bc5172a5a5a1",
        "name": "Vector Store Tool",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1,
        "position": [
          1080,
          1500
        ]
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are a helpful assistant that has access to the end users emails in the format of a vector database. When they ask questions review your RAG response and answer their questions in a conversational way.",
            "returnIntermediateSteps": false,
            "passthroughBinaryImages": true
          }
        },
        "id": "3c6ef5d0-9a91-403d-b75c-8d004cb07a4f",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          880,
          1220
        ]
      },
      {
        "parameters": {},
        "id": "7d0944a9-cc9e-4a3d-85d9-e73552215fdf",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.1,
        "position": [
          880,
          1500
        ]
      },
      {
        "parameters": {
          "public": true,
          "options": {
            "allowFileUploads": true,
            "allowedFilesMimeTypes": "*"
          }
        },
        "id": "5673cab6-e093-4236-9390-6296d46b5f72",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          680,
          1220
        ],
        "webhookId": "f18d1b45-aed2-4dc2-b9ad-8dc763d81990"
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "f9a373f1-611f-4997-b923-b0cf1f5da419",
        "name": "Embeddings OpenAI2",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          960,
          1900
        ]
      },
      {
        "parameters": {
          "tableName": "n8n_vectors_no_code",
          "options": {
            "distanceStrategy": "cosine",
            "collection": {
              "values": {
                "useCollection": true,
                "collectionName": "email_documents",
                "collectionTableName": "n8n_vector_collections_no_code"
              }
            }
          }
        },
        "id": "25ddcd18-317f-4c33-bfe0-b924975f428a",
        "name": "Postgres PGVector Store1",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1,
        "position": [
          960,
          1700
        ]
      }
    ],
    "pinData": {},
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Microsoft Outlook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Outlook": {
        "main": [
          [
            {
              "node": "Set Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Set Payload": {
        "main": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader1",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store1": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "267722d2-e6a8-4d62-ad8b-4f2c446b625b",
    "meta": {
      "instanceId": "86d0b539cdbfaefdd305e9f4d9320d6449af6a05b20f421bc7ca5b2501068fb2"
    },
    "id": "Vd1TYOeWj4ufPKdQ",
    "tags": [
      {
        "createdAt": "2024-12-13T16:39:16.240Z",
        "updatedAt": "2024-12-13T16:39:16.240Z",
        "id": "4Je3X0MRsUGoFflj",
        "name": "Demo"
      },
      {
        "createdAt": "2024-12-13T16:39:16.249Z",
        "updatedAt": "2024-12-13T16:39:16.249Z",
        "id": "XMYcRJ6ChsXO8jNt",
        "name": "For Distribution"
      },
      {
        "createdAt": "2024-12-13T16:39:16.254Z",
        "updatedAt": "2024-12-13T16:39:16.254Z",
        "id": "p85hdZysZdibPZDe",
        "name": "Getting Automated"
      }
    ]
  }