workflows/ia-agentes/10-agente-ideias-conteudo-yt-pesquisa/workflow.json
[
  {
    "createdAt": "2025-05-07T13:26:55.556Z",
    "updatedAt": "2025-05-27T11:34:27.000Z",
    "id": "xjPWaeXrexyV9NND",
    "name": "[FA] Agente Ideias de Conteúdo YT - Pesquisa",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "search"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "27a7d8e7-e641-42a5-91bc-27e22fd5ba2e",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          160,
          240
        ],
        "id": "2d30231c-80af-40c3-84ee-b99160f29454",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "H79y1c1UARm5hINL",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.search }}",
          "options": {
            "systemMessage": "=Você é um Agente que busca na internet o que te solicitam. \n\nA pesquisa deve ser bem detalhada.\n\nO objetivo é resgatar o máximo de informação relevante possível para o usuário fazer um vídeo de YouTube sobre o tópico pesquisado.\n\nEnvie sua pesquisa para Buscar informacoes recentes através do parâmetro searchTopic\n\nFormate sua resposta em 4 parágrafos detalhados."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          220,
          0
        ],
        "id": "ca5a6d9f-984d-4ad4-975d-f4edd8c73663",
        "name": "Agente de Pesquisa"
      },
      {
        "parameters": {
          "toolDescription": "Use esta tool para pesquisar na internet informacoes recentes sobre o tópico enviado",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{searchTopic}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "searchTopic",
                "description": "O que estamos buscando no Tavily"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          400,
          240
        ],
        "id": "1260feae-b278-473b-af15-ed3917916f67",
        "name": "Buscar informacoes recentes",
        "credentials": {
          "httpHeaderAuth": {
            "id": "3wGN2dG53vltUFn4",
            "name": "Tavily"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Agente de Pesquisa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente de Pesquisa",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Buscar informacoes recentes": {
        "ai_tool": [
          [
            {
              "node": "Agente de Pesquisa",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "684f1f0f-75b1-4256-bd81-60c64426803c",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-05-26T19:48:27.869Z",
        "updatedAt": "2025-05-26T19:48:27.869Z",
        "id": "hbBJw9VpX8CbCKpn",
        "name": "FA"
      }
    ]
  }
]