workflows/automacao/05-funcionalidades-novas-1100/workflow.json
[
  {
    "createdAt": "2025-07-03T15:11:57.221Z",
    "updatedAt": "2025-07-03T15:16:34.000Z",
    "id": "3mhlHzjzuAW10CjC",
    "name": "[FA] Funcionalidades novas 1.100",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "3be7241d-5203-455b-92ca-a45908de05e9",
        "name": "When chat message received",
        "webhookId": "31634713-5437-4b2d-9092-0032cbce2c63"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          220,
          0
        ],
        "id": "740c7ab7-6adc-4a18-ad9a-053dc3c5a9bf",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "rules": {
            "rule": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "789d6b43-466d-42ba-8c34-f9cc736c7428",
                      "leftValue": "={{ $json.chatInput }}",
                      "rightValue": "imagem",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "modelIndex": 2,
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "55b1985b-0625-40bd-bbee-fd0dc2d8d7cc",
                      "leftValue": "={{ $json.chatInput }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.modelSelector",
        "typeVersion": 1,
        "position": [
          180,
          260
        ],
        "id": "44d831c3-0efb-4c46-a4f9-36973a114f84",
        "name": "Model Selector"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          100,
          480
        ],
        "id": "9a0033c1-1637-4297-a99f-32308be6f1c3",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "H79y1c1UARm5hINL",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          320,
          480
        ],
        "id": "5a2edd68-553e-4724-bf49-9fb3abba5730",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "BSZobEqtfEcgWSjL",
            "name": "DeepSeek account"
          }
        }
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Model Selector": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Model Selector",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Model Selector",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "b928fbaa-4120-4cf0-827a-6b385f096cc0",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-05-26T19:48:27.869Z",
        "updatedAt": "2025-05-26T19:48:27.869Z",
        "id": "hbBJw9VpX8CbCKpn",
        "name": "FA"
      }
    ]
  }
]