workflows/marketing/02-criacao-postagem-redes-sociais-com-logs/workflow.json
[
  {
    "createdAt": "2025-05-05T23:59:19.981Z",
    "updatedAt": "2025-05-27T11:34:29.000Z",
    "id": "xqvJ2I2oETDzqTs5",
    "name": "[FA] Criacao de postagem redes sociais com Logs",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "formTitle": "Gerador de Posts de Redes Sociais",
          "formDescription": "Preencha os dados para criar o texto e a imagem do post",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Assunto do Post",
                "placeholder": "O que deseja abordar?",
                "requiredField": true
              },
              {
                "fieldLabel": "Orientações adicionais",
                "fieldType": "textarea",
                "placeholder": "Detalhe como deve ser a postagem...",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          0
        ],
        "id": "9d1f839c-e453-4601-af50-8038625023d9",
        "name": "On form submission",
        "webhookId": "e69fcdd8-f890-47f8-97e8-d901a1127d83"
      },
      {
        "parameters": {
          "toolDescription": "Use esta tool para pesquisar informações atualizadas do assunto do post na internet.",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{searchTopic}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "searchTopic",
                "description": "O que estamos buscando no Tavily"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          340,
          260
        ],
        "id": "6bdfc9d7-156d-4427-9ad1-4747e0f854d3",
        "name": "Buscar informacoes recentes",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4GjNnwXRen3P5YU5",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Geração do Post",
          "height": 520,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          140,
          -80
        ],
        "typeVersion": 1,
        "id": "6573f7f6-96a7-45d8-b2f6-27972d521b80",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Texto do Post que você deve gerar a imagem:\n\n{{ $json.output }}",
          "options": {
            "systemMessage": "=Você é um agente de IA que transforma posts do LinkedIn em descriçoes para imagens. A imagem será enviada junto com a postagem, então ela precisa agregar ao post.\n\n\n# Objetivo:\n- Leia e analise o post fornecido do LinkedIn\n- Identifique a principal mensagem, insight ou conclusão do post\n- Crie uma descrição de imagem clara que será usada para criar a imagem\n\nA imagem gerada deve:\n\n1. Ser um gráfico com estilo de marketing – não uma cena ou foto\n2. Representar visualmente ou ilustrar a ideia central do post\n3. Ter aparência profissional para ser publicada no LinkedIn\n4. Moderna e que chame a atenção\n\n# Instruções de Saída:\n- Forneça apenas a descrição final da imagem. Não inclua aspas\n- Não repita ou reformule o post do LinkedIn\n- Não adicione explicações ou qualquer conteúdo extra – apenas a descrição visual\n- Nunca use frases genéricas\n- Inclua estatísticas numéricas quando disponíveis no post original\n- A imagem precisa ter um fundo, que pode ser uma cor chapada ou degrade\n- Os textos da imagem precisam estar em portugues\n\n\n# Diretrizes para estilo\n- Pense como um designer\n- As imagens podem incluir: texto, gráficos, ícones, formas abstratas, sobreposições, ilustrações modernas, efeitos visuais, elementos de tipografia ousada (descritos, não renderizados)\n- Pode incluir sugestões de layout (ex: “design dividido”, “título em negrito com ilustração de fundo sutil”)\n- A imagem será gerada por IA – sua tarefa é usar a descrição para guiar a geração de forma eficaz\n- Tente não deixar os textos muito proximos das bordas\n\n\n# Exemplo de Formato de Saída:\n\n- Gráfico moderno mostrando um foguete decolando de uma plataforma de lançamento com gráficos financeiros ascendentes ao fundo, simbolizando crescimento acelerado de startups. Fundo azul escuro com detalhes em neon.\n\n- Ilustração abstrata de várias engrenagens interconectadas com ícones de nuvem, IA e segurança digital, representando a integração de tecnologia nas empresas. Estilo flat com tons pastel e tipografia minimalista.\n\nUse a tool TokensUsage",
            "returnIntermediateSteps": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          620,
          0
        ],
        "id": "ad52ebf1-f3c1-44b6-bf73-baca5b439038",
        "name": "Agente Prompt para Imagem"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/images/generations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.OPENAI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "gpt-image-1"
              },
              {
                "name": "prompt",
                "value": "={{ $('Agente Prompt para Imagem').item.json.output }}"
              },
              {
                "name": "size",
                "value": "1024x1024"
              },
              {
                "name": "quality",
                "value": "low"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          0
        ],
        "id": "c89fc832-234a-449d-af6f-77d0a636e99e",
        "name": "Gerando base64 da imagem"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data[0].b64_json",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1420,
          0
        ],
        "id": "2acb9ca7-4275-46cf-9716-853a742d93bf",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "content": "## Geração da Imagem",
          "height": 520,
          "width": 1020,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          560,
          -80
        ],
        "typeVersion": 1,
        "id": "76a5d64c-7bd3-4d32-a043-37a4bf8468bb",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=Criativo de {{ $now.format('dd-MM-yyyy') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1qCW_yYS2fJQ2fd0ddYDXaz-ch0a_j7bo",
            "mode": "list",
            "cachedResultName": "Artes Auto",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qCW_yYS2fJQ2fd0ddYDXaz-ch0a_j7bo"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          980,
          0
        ],
        "id": "3037bad3-8839-4519-9097-f2107632ff60",
        "name": "Criar a Pasta no Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "RNlEpng0bC5qyVSS",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "name": "Imagem",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Criar a Pasta no Drive').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1640,
          0
        ],
        "id": "8dfdaa70-ff16-403e-ab14-6131cdb6b7ce",
        "name": "Enviar imagem para o Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "RNlEpng0bC5qyVSS",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "folderId": "={{ $('Criar a Pasta no Drive').item.json.id }}",
          "title": "Texto"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1860,
          0
        ],
        "id": "e73d5284-5df6-4c3e-ae89-13df767cfe95",
        "name": "Cria arquivo de Texto",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "98LaqRb26p1zwBpD",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "={{ $('Agente de Texto do Post').item.json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2080,
          0
        ],
        "id": "3784ad2b-da88-4ecb-8c46-868fa431ee6b",
        "name": "Google Docs",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "98LaqRb26p1zwBpD",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Assunto do Post: {{ $json['Assunto do Post'] }}\n\nOutras orientações para a postagem: {{ $json['Orientações adicionais'] }}",
          "options": {
            "systemMessage": "=Você é um agente de IA especializado em criar posts profissionais e educativos para o LinkedIn, a partir de um tópico fornecido pelo usuário.\n\n# Objetivos:\n- Pesquise informações atualizadas usando a ferramenta Tavily.\n- Crie um post com:\n  - Introdução envolvente\n  - Tom profissional e educativo\n  - Texto claro e fácil de ler\n  - Uso mínimo de emojis (apenas se altamente relevante)\n  - Citação de fontes (ex: \"segundo [fonte]\")\n  - Hashtags relevantes\n  - Chamada para ação ao final (como pedir opinião ou compartilhamento)\n\n# Instruções de Saída:\n- Sua ÚNICA saída deve ser o texto final do post para o LinkedIn.\n- Não inclua explicações, comentários ou notas extras.\n\n\n# Exemplo do Fluxo:\n1. Receba o tópico.\n2. Pesquise usando Tavily.\n3. Crie o post baseado nas informações encontradas.\n4. Estruture o texto com fonte citada, clareza, hashtags e chamada para ação.",
            "returnIntermediateSteps": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          220,
          0
        ],
        "id": "7e160f28-40aa-42fb-8e12-246a38f81cb5",
        "name": "Agente de Texto do Post"
      },
      {
        "parameters": {
          "content": "## Envio de arquivos para o Drive",
          "height": 520,
          "width": 620
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1600,
          -80
        ],
        "typeVersion": 1,
        "id": "2a23681f-a270-4924-bccc-8fab89bba590",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          180,
          260
        ],
        "id": "ecf24a72-94bc-4637-97c0-ca3e7433ee8c",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "wHE2wqHyz8adm9VC",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JOGKpHCW0NlrgYQz",
            "mode": "list",
            "cachedResultName": "Agent Tracker"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          840,
          -640
        ],
        "id": "d44512e5-c64c-4330-954c-18949fbd688a",
        "name": "Track de Agentes"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e6c52477-fac9-4372-83d9-e43b34b8d515",
                "name": "workflow",
                "value": "={{ $workflow.name }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          580,
          -640
        ],
        "id": "5faaf130-7185-4645-b470-88638d5d2e5c",
        "name": "Adicionar nome do Workflow"
      },
      {
        "parameters": {
          "name": "TokensUsage",
          "jsCode": "return 1;"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          620,
          520
        ],
        "id": "a5568d9e-1b45-405e-95da-6ee4d0c1e85c",
        "name": "TokensUsage"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ab31e75f-db4f-4a85-8307-5cd68e2df920",
                "name": "workflow",
                "value": "={{ $workflow.name }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          940,
          -340
        ],
        "id": "ed19daba-3bee-42c3-90f1-50eddb5f14c6",
        "name": "Adicionar nome do Workflow1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "n5JM6vI2EDrkN2cE",
            "mode": "list",
            "cachedResultName": "[FA] Agent Tracker"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1140,
          -340
        ],
        "id": "19f2f5a5-b13d-4059-95e9-f0bafc36353d",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "name": "TokensUsage",
          "jsCode": "return 1;"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          720,
          280
        ],
        "id": "314e0cff-c2dd-48c4-a7a0-8242e5b2319f",
        "name": "Code Tool"
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Agente de Texto do Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar informacoes recentes": {
        "ai_tool": [
          [
            {
              "node": "Agente de Texto do Post",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agente Prompt para Imagem": {
        "main": [
          [
            {
              "node": "Adicionar nome do Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerando base64 da imagem": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Enviar imagem para o Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar a Pasta no Drive": {
        "main": [
          [
            {
              "node": "Gerando base64 da imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar imagem para o Drive": {
        "main": [
          [
            {
              "node": "Cria arquivo de Texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria arquivo de Texto": {
        "main": [
          [
            {
              "node": "Google Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente de Texto do Post": {
        "main": [
          [
            {
              "node": "Agente Prompt para Imagem",
              "type": "main",
              "index": 0
            },
            {
              "node": "Adicionar nome do Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente de Texto do Post",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Agente Prompt para Imagem",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Adicionar nome do Workflow": {
        "main": [
          [
            {
              "node": "Track de Agentes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TokensUsage": {
        "ai_tool": [
          []
        ]
      },
      "Adicionar nome do Workflow1": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Tool": {
        "ai_tool": [
          [
            {
              "node": "Agente Prompt para Imagem",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "R7dkq0icQsr7xHew"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "430879bc-b33c-4887-9131-6595bf48be43",
    "triggerCount": 1,
    "tags": [
      {
        "createdAt": "2025-05-26T19:48:27.869Z",
        "updatedAt": "2025-05-26T19:48:27.869Z",
        "id": "hbBJw9VpX8CbCKpn",
        "name": "FA"
      }
    ]
  }
]